<a href="http://127.0.0.1:8000/upload/">To add more data click me</a> <br>
<a href="http://127.0.0.1:8000/retrieve/">To retrieve data  click me</a>
<h2>Customer Data</h2>
<ul>
  {% for data in parsed_data_objects %}
    <li>Booking ID: {{ data.booking_id }}</li>
    <li>Vehicle model No: {{ data.vehicle_model_no }}</li>
    <li>model name: {{ data.model_name }}</li>
    <li>name of the customer : {{ data.name_of_the_customer }}</li>
    <li>mobile: {{ data.mobile }}</li>
    <li>email id : {{ data.email_id }}</li>
    <!-- Display other parsed data -->
  {% endfor %}
</ul> 

<h2>Uploaded Files:</h2>
<ul>
  {% for uploaded_file in uploaded_files %}
  <li><a href="{{ uploaded_file.file.url }}" target="_blank">{{ uploaded_file.file.name }}</a></li>
  {% endfor %}
    {% comment %} {% for uploaded_file in uploaded_files %}
        <li>{{ uploaded_file.file.name }}</a></li>
    {% endfor %} {% endcomment %}
</ul>


