<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #008000;
        }
    </style>
</head>
<body>
    <h1>Thank You [your data is saved ]</h1>
    <a href="http://127.0.0.1:8000/upload/">To add more data click me</a><br>
    <br>
    <br>
    <br>
    <a href="http://127.0.0.1:8000/retrieve/">To retrieve data  click me</a>

</body>
</html>
